body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
}

table {
  margin-left: center;
  margin-right: center;
  margin: 0 auto;
  background-color: white;
  border-collapse: collapse;
}

td {
  width: 20px;
  height: 20px;
}

td.empty {
  background-color: white;
  border: 1px solid white;
}

td.full {
  background-color: black;
  border: 1px solid white;
}

td.player {
  background-color: #008080;
}

.main-header {
  text-align: center;
}
