body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
}

table {
  margin-left: center;
  margin-right: center;
  margin: 0 auto;
  background-color: white;
}

td {
  width: 20px;
  height: 20px;
  background-color: white;
}

.main-header {
  text-align: center;
}
